<!-- File: app/templates/components/_public_navbar.html -->
<div class="navbar bg-base-200 shadow-md no-print">
    <div class="navbar-start">
        {# Corrected the endpoint name in the url_for call below #}
        <a href="{{ url_for('auth.app_login') if not request.endpoint or not request.endpoint.startswith('invites.') else url_for('invites.invite_landing_page') }}" class="btn btn-ghost normal-case text-xl">
            <i class="fa-solid fa-users-gear mr-2"></i> {{ g.app_name or "Multimedia User Manager" }}
        </a>
    </div>
    <div class="navbar-center">
        <!-- Can be empty or have a tagline -->
    </div>
    <div class="navbar-end">
        <!-- Theme Toggle -->
        <label class="swap swap-rotate btn btn-ghost btn-circle mr-2" title="Toggle Theme">
            <input type="checkbox" id="theme-toggle" />
            <i class="fa-solid fa-sun swap-on fill-current w-5 h-5"></i> 
            <i class="fa-solid fa-moon swap-off fill-current w-5 h-5"></i> 
        </label>

        {# Only show Admin Login if setup is complete and not on the invite processing page itself #}
        {% if g.setup_complete and not (request.endpoint and request.endpoint == 'invites.process_invite_form') %}
            <a href="{{ url_for('auth.app_login') }}" class="btn btn-ghost">
                <i class="fa-solid fa-right-to-bracket mr-1"></i> Admin Login
            </a>
        {% endif %}
    </div>
</div>